<app-common-navbar></app-common-navbar>
<div class="page-header" style="background-image: url('./assets/img/nature.jpg');">
    <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                  <div class="card card-register">
                      <h3>Únete a OrniHispalis</h3>
                      <form class="register-form">
                        <label>Nombre y apellidos</label>
                        <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-single-02"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre y apellidos" (focus)="focus=true" (blur)="focus=false" minlength="1" required>
                        </div>
                        <label>Email</label>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-email-85"></i>
                              </span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email" (focus)="focus=true" (blur)="focus=false" minlength="1" required>
                        </div>
                          <label>Teléfono</label>
                          <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="nc-icon nc-mobile"></i>
                              </span>
                            </div>
                            <input type="tel" class="form-control" placeholder="Teléfono" (focus)="focus=true" (blur)="focus=false" minlength="1" maxlength="9" required>
                        </div>
                        <button class="btn btn-success btn-block btn-round" (click)="enviado()">Enviar datos</button>
                      </form>
                  </div>
                </div>
            </div>
        </div>