.nb {
    padding: 5%;
}

h3 {
    color: #4A7C59;
}

#headertitle {
    color: black;
}

.row {
    justify-content: space-between;
    margin: 0%;
}

img {
    width: 130%;
    border: 3px solid #C8D5B9;
    border-radius: 4px;
    display: block;
    height: auto;
}

img:hover {
    animation: shake 1s;
  
    animation-iteration-count: infinite;
}
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

.col-md-2 {
    position: relative;
    width: max-content;
}

p {
    size: 40px;
    margin-top: 5%;
}