<div class="container-fluid">
    <footer class="footer">
        <div class="row">
            <div class="col-md-3 m-3 justify-content-center">
                <img src="/assets/img/logo.png">
            </div>
            <div class="col-md m-3">
                <h5><b>¡Contacta con nosotros!</b></h5>
                <ul class="links">
                    <li><a href="http://twitter.com/ornihispalis_2007"><i class="fa fa-twitter"></i>   @Ornihispalis_2007</a></li>
                    <li><a href="http://github.com/meskion"><i class="fa fa-github"></i>   meskion</a></li>
                    <li><a href="http://facebook.com/ornihispalis"><i class="fa fa-facebook-official"></i>  ornihispalis</a></li>
                    <li><p>FAX: 943 65 72 12</p></li>
                </ul>
            </div>
            <div class="col-md m-3">
                <h5><b>¿Dudas o sugerencias?</b></h5>
                <form>
                    <div class="row m-2"><input type="email" name="email" placeholder="Tu correo" size="30"></div>
                    <div class="row m-2"><textarea rows="2" cols="30" placeholder="Sugerencias/dudas"></textarea></div>
                    <div class="row m-2"><button type="button" class="btn btn-neutral btn-sm">Enviar</button></div>
                </form>
            </div>
        </div>
    </footer>
</div>